# Tools & Conclusions

In [1]:
import pandas as pd
import os
import sys
%matplotlib inline
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from random import randint
import pickle

First tool corresponds to an analysis of the network. As we have already done an analysis the network as a whole, we are now going to analyse a representative community

In [2]:
df = pd.read_csv('df_metrics_communities.csv')

In [3]:
# We clearly pick mainstream_latino

df['communities'].value_counts()

mainstream_latino       60
C.R.E.A.M               48
mainstream_general      38
rap_latino              26
indie_rap               25
trap_ignorant           21
trap_flamenco           19
gipsy_rap               19
old_school              19
raperitos_under         19
rap_new_school_chill    18
rap_new_school          17
trap_lofi               10
Name: communities, dtype: int64

In [5]:
df_latino = df[df['communities'] == 'mainstream_latino']

In [6]:
df_latino.head()

,name,degree_centrality,betweenness_centrality,closeness_centrality,page_rank,popularity,followers,genres,modularity_class,communities
9,Mambo Kingz,0.023669,0.000254,0.234722,0.003187,79,182403,['reggaeton flow'],11,mainstream_latino
10,Nacho,0.059172,0.011955,0.251863,0.007882,71,4306944,"['latin', 'latin pop', 'pop venezolano', 'regg...",11,mainstream_latino
11,Nach,0.059172,0.024962,0.261004,0.007772,71,4306944,"['latin', 'latin pop', 'pop venezolano', 'regg...",11,mainstream_latino
12,DJ Luian,0.023669,0.000254,0.234722,0.003187,79,1411758,"['latin', 'latin hip hop', 'reggaeton', 'regga...",11,mainstream_latino
13,Yandel,0.026627,0.002613,0.241256,0.003640,80,5809225,"['latin', 'latin hip hop', 'reggaeton', 'regga...",11,mainstream_latino

Now we are going to analyse all the measures 1 by 1

In [11]:
df_latino.sort_values(by = ['degree_centrality'], ascending = False).head(8)

,name,degree_centrality,betweenness_centrality,closeness_centrality,page_rank,popularity,followers,genres,modularity_class,communities
122,Bizarrap,0.065089,0.077775,0.306994,0.008869,85,5158088,"['argentine hip hop', 'pop venezolano', 'trap ...",11,mainstream_latino
11,Nach,0.059172,0.024962,0.261004,0.007772,71,4306944,"['latin', 'latin pop', 'pop venezolano', 'regg...",11,mainstream_latino
10,Nacho,0.059172,0.011955,0.251863,0.007882,71,4306944,"['latin', 'latin pop', 'pop venezolano', 'regg...",11,mainstream_latino
296,Bad Bunny,0.041420,0.022892,0.262219,0.005856,100,47013944,"['latin', 'reggaeton', 'trap latino']",11,mainstream_latino
301,Justin Quiles,0.041420,0.016795,0.266142,0.005737,88,3434204,"['latin', 'reggaeton', 'trap latino']",11,mainstream_latino
248,Rels B,0.035503,0.026579,0.295972,0.005041,84,3583355,"['r&b en espanol', 'spanish hip hop', 'trap la...",11,mainstream_latino
250,Duki,0.035503,0.016659,0.283557,0.004948,87,5747196,"['argentine hip hop', 'trap argentino', 'trap ...",11,mainstream_latino
158,Nicki Nicole,0.035503,0.020161,0.290628,0.004944,82,2706891,"['argentine hip hop', 'r&b argentino', 'trap a...",11,mainstream_latino

In [12]:
df_latino.sort_values(by = ['betweenness_centrality'], ascending = False).head(8)

,name,degree_centrality,betweenness_centrality,closeness_centrality,page_rank,popularity,followers,genres,modularity_class,communities
122,Bizarrap,0.065089,0.077775,0.306994,0.008869,85,5158088,"['argentine hip hop', 'pop venezolano', 'trap ...",11,mainstream_latino
111,Omar Montes,0.023669,0.029025,0.278648,0.003927,73,400250,"['flamenco urbano', 'urbano espanol']",11,mainstream_latino
248,Rels B,0.035503,0.026579,0.295972,0.005041,84,3583355,"['r&b en espanol', 'spanish hip hop', 'trap la...",11,mainstream_latino
11,Nach,0.059172,0.024962,0.261004,0.007772,71,4306944,"['latin', 'latin pop', 'pop venezolano', 'regg...",11,mainstream_latino
108,Bad Gyal,0.023669,0.023145,0.273021,0.003937,73,692928,"['rap catala', 'rap latina', 'trap catala', 't...",11,mainstream_latino
296,Bad Bunny,0.041420,0.022892,0.262219,0.005856,100,47013944,"['latin', 'reggaeton', 'trap latino']",11,mainstream_latino
78,Mala Rodríguez,0.029586,0.020838,0.279801,0.004784,64,459732,"['latin alternative', 'latin hip hop', 'rap la...",11,mainstream_latino
158,Nicki Nicole,0.035503,0.020161,0.290628,0.004944,82,2706891,"['argentine hip hop', 'r&b argentino', 'trap a...",11,mainstream_latino

In [14]:
df_latino.sort_values(by = ['closeness_centrality'], ascending = False).head(8)

,name,degree_centrality,betweenness_centrality,closeness_centrality,page_rank,popularity,followers,genres,modularity_class,communities
122,Bizarrap,0.065089,0.077775,0.306994,0.008869,85,5158088,"['argentine hip hop', 'pop venezolano', 'trap ...",11,mainstream_latino
248,Rels B,0.035503,0.026579,0.295972,0.005041,84,3583355,"['r&b en espanol', 'spanish hip hop', 'trap la...",11,mainstream_latino
158,Nicki Nicole,0.035503,0.020161,0.290628,0.004944,82,2706891,"['argentine hip hop', 'r&b argentino', 'trap a...",11,mainstream_latino
250,Duki,0.035503,0.016659,0.283557,0.004948,87,5747196,"['argentine hip hop', 'trap argentino', 'trap ...",11,mainstream_latino
177,L-Gante,0.020710,0.009044,0.280498,0.002880,77,1343501,['cumbia 420'],11,mainstream_latino
78,Mala Rodríguez,0.029586,0.020838,0.279801,0.004784,64,459732,"['latin alternative', 'latin hip hop', 'rap la...",11,mainstream_latino
183,Eladio Carrion,0.026627,0.016624,0.279108,0.003692,84,1321238,"['trap boricua', 'trap latino', 'trap triste']",11,mainstream_latino
111,Omar Montes,0.023669,0.029025,0.278648,0.003927,73,400250,"['flamenco urbano', 'urbano espanol']",11,mainstream_latino

In [15]:
df_latino.sort_values(by = ['page_rank'], ascending = False).head(8)

,name,degree_centrality,betweenness_centrality,closeness_centrality,page_rank,popularity,followers,genres,modularity_class,communities
122,Bizarrap,0.065089,0.077775,0.306994,0.008869,85,5158088,"['argentine hip hop', 'pop venezolano', 'trap ...",11,mainstream_latino
10,Nacho,0.059172,0.011955,0.251863,0.007882,71,4306944,"['latin', 'latin pop', 'pop venezolano', 'regg...",11,mainstream_latino
11,Nach,0.059172,0.024962,0.261004,0.007772,71,4306944,"['latin', 'latin pop', 'pop venezolano', 'regg...",11,mainstream_latino
296,Bad Bunny,0.041420,0.022892,0.262219,0.005856,100,47013944,"['latin', 'reggaeton', 'trap latino']",11,mainstream_latino
301,Justin Quiles,0.041420,0.016795,0.266142,0.005737,88,3434204,"['latin', 'reggaeton', 'trap latino']",11,mainstream_latino
248,Rels B,0.035503,0.026579,0.295972,0.005041,84,3583355,"['r&b en espanol', 'spanish hip hop', 'trap la...",11,mainstream_latino
250,Duki,0.035503,0.016659,0.283557,0.004948,87,5747196,"['argentine hip hop', 'trap argentino', 'trap ...",11,mainstream_latino
158,Nicki Nicole,0.035503,0.020161,0.290628,0.004944,82,2706891,"['argentine hip hop', 'r&b argentino', 'trap a...",11,mainstream_latino

Conclusions:

We can observe clearly that the spotlight nodes are:

Bizarrap, Nacho, Rels B & Bad Bunny

This makes sense as Bizarrap is a DJ/Music producer and right now has contact with all of this artists, so collaborating with him has great repercussion. It has been seen when one of his las collaborations with the artist Residente received over 60 Million views in 3 days.

Regarding the other spotlight nodes, Nacho & Bad bunny are Reguetton artists with many collaborations with other nodes that are in most of our top 8 like Duki and are also nodes that have a high response towards the network.

In this analysis however, Rels B is a spotlight node which caught my interest as they are Spanish artists and have moved over from Spain more towards the latino community, with their style and connections within that community. They are a great example and connection from those other artists that would want to move into the latino_mainstream community!

# Shortest paths

Following our example we will grab an artist from a low populated community and make a route to the latino_mainstream

In [4]:
# We clearly pick trap lofi

df['communities'].value_counts()

mainstream_latino       60
C.R.E.A.M               48
mainstream_general      38
rap_latino              26
indie_rap               25
trap_ignorant           21
trap_flamenco           19
gipsy_rap               19
old_school              19
raperitos_under         19
rap_new_school_chill    18
rap_new_school          17
trap_lofi               10
Name: communities, dtype: int64

In [5]:
df_trap_lofi = df[df['communities'] == 'trap_lofi']

In [10]:
# lets grab a not that well connected artist and help him/her out to the latino community by using PageRank

a = df_trap_lofi.sort_values(by = ['page_rank'], ascending = True).head(8)
a[['name','page_rank']]

               name  page_rank
208         LUNA KI   0.000704
39            BxRod   0.001078
118  Mucho Muchacho   0.001547
117     Sr. Guayaba   0.001553
209     Cookin Soul   0.001566
94        Juan Rios   0.002381
95           Lasser   0.002381
40        Made in M   0.003823

Now lets analyse the routes to Rels B

In [20]:
adjacency_list_df = pd.read_csv('adjacency_list.csv')

In [21]:
# Graph creation:

G = nx.from_pandas_edgelist(adjacency_list_df, 'start_node', 'end_node')

In [22]:
# computing the shortest path length for all pairs of nodes in the network:
# here we attain all the artists and the number of nodes that they have to go through to get to certain parts of the network

shortest_path_lengths = dict(nx.all_pairs_shortest_path_length(G))

In [31]:
# from the most popular artists in this community LUNA KI is far enough

shortest_path_lengths['LUNA KI']['Rels B']

4

In [41]:
# These are all the possible paths of the network 
# The more nodes in the middle to reach to an artist the more possible routes there are


paths = nx.all_simple_paths(G, source='LUNA KI', target='Rels B', cutoff= 8)
paths_posibilities = list(paths)

In [42]:
len(paths_posibilities)

23763

In [43]:
df_communities = pd.read_csv('df_metrics_communities.csv')

In [45]:
df_communities.columns

Index(['name', 'degree_centrality', 'betweenness_centrality',
       'closeness_centrality', 'page_rank', 'popularity', 'followers',
       'genres', 'modularity_class', 'communities'],
      dtype='object')

In [47]:
# We are creating a Dataframe with all the possible routes and 
# within them the means and std dev of their respective popularities

all_paths_std_mean = list()

for route in paths_posibilities:
    artist_route = list()
    for artist in route:
        artist_route.append(df_communities[df_communities['name'] == artist]['popularity'].values[0])
    all_paths_std_mean.append((tuple(route),np.array(artist_route).mean(),np.array(artist_route).std()))

In [48]:
df_best_route = pd.DataFrame(all_paths_std_mean, columns = ['route', 'mean', 'standard_dev'])

In order to reduce the number of paths we will work with the highest popularity mean and lowest std deviation for each route to find the most popular artists which are all at the same level. This will increase the likelihood of a greater impact with the artist that we are trying to reach.

In [49]:
df_best_route.describe()

               mean  standard_dev
count  23763.000000  23763.000000
mean      66.165661     11.199626
std        4.328448      1.178065
min       56.444444      8.216214
25%       63.111111     10.380562
50%       65.333333     11.089980
75%       68.666667     11.925696
max       82.555556     17.505555

In [58]:
# For this case, the following routes would be the optimal ones. 
# From here we should consider with the artists which are
# the best approaches

LUNA_KI_best_route = df_best_route[(df_best_route['mean'] > 76) & (df_best_route['standard_dev'] < 9.5)]
LUNA_KI_best_route

,route,mean,standard_dev
2459,"(LUNA KI, Bejo, Bizarrap, Randy, Trueno, Tiago...",76.777778,9.401865
5194,"(LUNA KI, Bejo, Bizarrap, Morad, Rondodasosa, ...",76.777778,9.378199
5212,"(LUNA KI, Bejo, Bizarrap, Morad, Freeze corleo...",77.000000,9.285592
5225,"(LUNA KI, Bejo, Bizarrap, Morad, Central Cee, ...",76.777778,9.378199
5227,"(LUNA KI, Bejo, Bizarrap, Morad, Central Cee, ...",77.000000,9.285592
5233,"(LUNA KI, Bejo, Bizarrap, Morad, Central Cee, ...",76.777778,9.378199
5254,"(LUNA KI, Bejo, Bizarrap, Morad, Baby Gang, Ce...",76.777778,9.378199

These would be the best routes to reach Rels b

In [64]:
LUNA_KI_best_route['route'].values

array([('LUNA KI', 'Bejo', 'Bizarrap', 'Randy', 'Trueno', 'Tiago PZK', 'Nicki Nicole', 'Nathy Peluso', 'Rels B'),
       ('LUNA KI', 'Bejo', 'Bizarrap', 'Morad', 'Rondodasosa', 'Central Cee', 'Beny Jr', 'Eladio Carrion', 'Rels B'),
       ('LUNA KI', 'Bejo', 'Bizarrap', 'Morad', 'Freeze corleone', 'Central Cee', 'Beny Jr', 'Eladio Carrion', 'Rels B'),
       ('LUNA KI', 'Bejo', 'Bizarrap', 'Morad', 'Central Cee', 'Rondodasosa', 'Beny Jr', 'Eladio Carrion', 'Rels B'),
       ('LUNA KI', 'Bejo', 'Bizarrap', 'Morad', 'Central Cee', 'Freeze corleone', 'Beny Jr', 'Eladio Carrion', 'Rels B'),
       ('LUNA KI', 'Bejo', 'Bizarrap', 'Morad', 'Central Cee', 'Baby Gang', 'Beny Jr', 'Eladio Carrion', 'Rels B'),
       ('LUNA KI', 'Bejo', 'Bizarrap', 'Morad', 'Baby Gang', 'Central Cee', 'Beny Jr', 'Eladio Carrion', 'Rels B')],
      dtype=object)